body {
    font-family: Arial, sans-serif;
    background-color: #525252;
  }
  .tabela-periodica {
    display: grid;
    grid-template-columns: repeat(20, 55px);
    gap: 4px;
    padding: 20px;
    margin-left: 50px;
    margin-top: 40px;
  }
  .elemento {
    width: 25px;
    height: 25px;
    padding: 13px;
    text-align: center;
    border-radius: 4px;
    color: black;
    font-size: 12px;
    background-color: #666;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .elemento:hover {
    transform: scale(1.2);
    transition: 0.5s;
    
  }

  .tooltip{
    position: absolute;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    pointer-events: none;
    display: none;
    padding: 6px 15px;
    color: white;
    font-size: 12px;
    border: 2px white solid;
    margin-left: -333px;
    margin-top: -200px;
  }

  .caixa{
    width: 1200px;
    height: 650px;
    background-color: #525252;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    margin-top: -770px;
    margin-left: 350px;
    transition: 1s ease;
    box-shadow: 10px 10px 50px black;
  }

  .caixa:hover{
    transform: scale(1.05);
    transition: 1s;
  }

  .fundo{
    background-repeat: no-repeat;
    width: 100%;
    height: 934px;
    filter: blur(3px);
  }

